<%= simple_form_for organization do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :org_name, required: true %>
    </div>
    <div class="col-md-6">
      <%= f.input :org_identifier, disabled:true %>
    </div>
  </div>
  <hr>
  <h5>Profile</h5>
  <%= f.fields_for :profile do |p| %>
    <div class="row">
      <div class="col-md-6">
        <%= p.input :first_name %>
      </div>
      <div class="col-md-6">
        <%= p.input :last_name %>
      </div>
    </div>
  <% end %>
  <hr>
  <h5>Address </h5>
  <%= f.fields_for :address do |add| %>
    <div class="row">
      <div class="col-md-6">
        <%= add.input :line1 %>
      </div>
      <div class="col-md-6">
        <%= add.input :line2, required: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= add.input :city %>
      </div>
      <div class="col-md-6">
        <%= add.input :state %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= add.input :country %>
      </div>
      <div class="col-md-6">
        <%= add.input :zip%>
        <span class="error_field hidden"> Zip must be of length 6</span>
      </div>
    </div>
  <% end %>
  <%= f.button :submit, class: "org_submit" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#organization_org_name").focusout(function() {
      var str = $(this).val()
      var strLower = str.toLowerCase();
      document.getElementById('organization_org_identifier').value = strLower.replace(/[^A-Z0-9]+/ig, "_");
    });
    $("#organization_address_attributes_zip").on("keyup", function(){
      if($(this).val().length != 6){
        $(".error_field").removeClass("hidden")
        $(".org_submit").attr("disabled", "disabled");
      }
      else {
        $(".error_field").addClass("hidden")
        $(".org_submit").removeAttr("disabled");
      }
    });
  })
</script>
