<div class="col-md-12">
  <div class="text-right">
    <% if current_user.is_admin? %>
      <%= link_to('Home', root_path) %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% end %>
  </div>
</div>

<%= form_tag search_organizations_path, method: :get, remote: true, id: "search_form" do  %>
<div class="row">
    <!-- <div class="col-md-2 custom_filed">
      <%#= select_tag :page_length, options_for_select([[10, 10], [20, 20], [30, 30]], params[:page_length]), {prompt: "Page Length"} %>
    </div> -->
    <div class="col-md-3 custom_filed">
      <%= text_field_tag :org_name, nil, placeholder: "Org Name"%>
    </div>
    <div class="col-md-3 custom_filed">
      <%= select_tag :user_id, options_for_select(User.all.map { |u| [u.email, u.id] }.sort, params[:user_id]), {prompt: "Select Email"} %>
    </div>
    <div class="col-md-3 custom_filed">
      <%= text_field_tag :country, nil, {placeholder: "Country"}%>
    </div>
    <div class="col-md-3 custom_filed">
      <%= submit_tag "Search", class: "btn btn-success btn-sm search_btn" %>
      <%= link_to "Reset", organizations_path, class: "btn btn-danger btn-sm"%>
    </div>
  <% end %>
</div>
<%= render partial: "organization_table", locals:{organizations: @organizations}%>
<%= will_paginate(@organizations, renderer: WillPaginate::ActionView::LinkRenderer)
  %>
